@model Supplier

@{
    ViewData["Title"] = "NewOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <form method="post" asp-controller="PurchaseOrder" asp-action="NewOrder" asp-route-supplierId="@Model.Id">
            <div class="form-group mt-3">
                <label for="Quantity">ItemReference</label>
                <input type="text" name="ItemReference" id="Id" class="form-control rounded" placeholder="">
            </div>
            <div class="form-group mt-3">
                <label for="Quantity">ItemName</label>
                <input type="text" name="ItemName" id="Id" class="form-control rounded" placeholder="">
            </div>
            <div class="form-group mt-3">
                <label for="Quantity">Quantity</label>
                <input type="text" name="Quantity" id="Id" class="form-control rounded" placeholder="">
            </div>
            <div class="form-group mt-3">
                <label for="UnitPrice">Unit Price</label>
                <input type="text" name="UnitPrice" id="UnitPrice" class="form-control rounded" placeholder="">
            </div>
            <div class="form-group mt-3">
                <label for="Remise">Discount</label>
                <input type="text" name="Remise" id="Remise" class="form-control rounded" placeholder="">
            </div>
            <div class="form-group mt-3">
                <label for="DeliveryTime">Delivery Time</label>
                <input type="text" name="DeliveryTime" id="DeliveryTime" class="form-control rounded" placeholder="">
            </div>
            <input name="CreationDate" value="@DateTime.Now" type="hidden">
            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>
</div>
